.block {
	padding: 0 0 20px 0;
}

.childBlock{
	padding: 0 0 20px 0;
}

.leftblock{
    margin:0px 150px 0px 0px;
}

.config {
	margin: 20px 0;
}

ul.tab {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding-bottom: 40px;
	border-bottom: solid 1px #c3c3c3;
}

ul.tab li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-left: none;
	border-top: none;
	border-right: none;
	padding: 20px 0;
}

ul.tab li.active {
	border-left: solid 1px #c3c3c3;
	border-top: solid 1px #c3c3c3;
	border-right: solid 1px #c3c3c3;
	border-bottom: solid 1px white;
}

ul.tab li a {
	display: block;
	text-decoration :none;
}

.tab-content .tab-pain {
	display: none;
	padding: 20px;
	border-left: solid 1px #c3c3c3;
	border-right: solid 1px #c3c3c3;
	border-bottom: solid 1px #c3c3c3;
}
.tab-content .tab-pain.active {
	display: inherit;
}

.kintoneplugin-label {
	border-bottom: solid 1px #c3c3c3;
}

.header-menu-item {
	display: inline-block;
}

.header-menu-item-middle {
	vertical-align: middle;
}

ul.items {
	list-style: disc;
	margin: 0 0 0 20px;
}
