.child-block{
	padding: 0 0 20px 0;
	display: flex;
}

.left-block{
    margin:0px 40px 0px 0px;
}

.config {
	margin: 20px 0;
}

ul.tab {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding-bottom: 40px;
	border-bottom: solid 1px #c3c3c3;
}

ul.tab li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-left: none;
	border-top: none;
	border-right: none;
	padding: 20px 0;
}

ul.tab li.active {
	border-left: solid 1px #c3c3c3;
	border-top: solid 1px #c3c3c3;
	border-right: solid 1px #c3c3c3;
	border-bottom: solid 1px white;
}

ul.tab li a {
	display: block;
	text-decoration :none;
}

.tab-content .tab-pain {
	display: none;
	padding: 20px;
	border-left: solid 1px #c3c3c3;
	border-right: solid 1px #c3c3c3;
	border-bottom: solid 1px #c3c3c3;
}
.tab-content .tab-pain.active {
	display: inherit;
}

.kintoneplugin-label {
	border-bottom: solid 1px #c3c3c3;
}

.header-menu-item {
	display: inline-block;
}

.header-menu-item-middle {
	vertical-align: middle;
}

ul.items {
	list-style: disc;
	margin: 0 0 0 20px;
}


/* Material iconsを利用する */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;

  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;

  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;

  /* IEサポート */
  font-feature-settings: 'liga';
}

/* アイコンサイズ */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* 背景が明るいとき用のアイコン色 */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* 背景が暗いとき用のアイコン色 */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.vertical-align-middle {
  vertical-align: middle;
}

.kintoneplugin-alert p {
  word-break: break-all;
}

.kintoneplugin-button-small {
	display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  min-width: 48px;
  height: 48px;
  outline: none;
  border: 1px solid #e3e7e8;
  background-color: #f7f9fa;
  box-shadow: 1px 1px 1px #fff inset;
  color: #3498db;
  text-align: center;
  line-height: 48px;
}

.kintoneplugin-button-small:hover {
  background-color: #c8d6dd;
  box-shadow: none;
  cursor: pointer;
}

.kintoneplugin-button-small-disabled {
	display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  min-width: 48px;
  height: 48px;
  outline: none;
  border: 1px solid #e3e7e8;
  background-color: #dbdcdd;
  box-shadow: none;
  color: #bababa;
  text-align: center;
  line-height: 48px;
}

.swal2-content {
	word-break: break-all;
}

.child-vertical-center {
	display: flex;
  align-items: center;
}

.icon-outer {
	margin: 0 0 0 5px;
}

.link-button {
	margin: 0 0 0 5px;
}
